*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100vw;
    height: 100vh;
    display: flex;
    font-family: gilroy;
    position: relative;
}
#left{
    position: relative;
    width:35%;
    height: 100%;
    background-color: rgb(210, 107, 107);
}
#text{
    position: absolute;
    width: 80%;
    top: 20%;
    left: 15%;
    color: white;
}
#text>h1{
    font-size: 40px;

}
#text>h1 span{
    font-weight: 300;
    
}
#text > h3{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
}
#text p{
    font-size: 10px;
    width: 70%;
    line-height: 1.8;
    margin-bottom: 20px;
}
#text button{
    padding: 12px 22px;
    border: none;
    border-radius: 5px;
    color: rgb(166, 47, 47);
    font-size: 12px;
    font-weight: 500;
    background-color: white;
}
#left #btm{
    position: absolute;
    bottom: 10%;
    left: 0;
    background-color: white;
    padding: 10px;
    width: 80%;
    height: 10%;
}
#btm h3{
    font-size: 15px;
    color: rgb(210, 64, 64);
}
#btm p{
    font-size: 10px;
    width: 80%;
    margin-top: 5px;
    opacity: .7;
}
#right{
    width: 65%;
    height: 100%;
    background-color: rgb(227, 219, 219);
    position: relative;
}
#right> img{
    position: absolute;
    top: 45%;
    left: -0;
    width: 300px;
    transform: translate(-50%, -50%) rotate(-25deg);
}
#right #center{
    position: absolute;
    top: 15%;
    width: 60%;
    left: 25%;
}
#center h1{
    font-size: 40px;
    color: rgb(191, 57, 57);
}
#center h1 span{
    color:black;
    font-weight: 350;
}
#center h2{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}
#center h2 span{
    font-weight: 700;
}
#center p{
    font-size: 10px;
    width: 80%;
    line-height: 1.8;
    margin-bottom: 30px;
}
#center #btns{
    display: flex;
    gap: 20px;
}
#center button{
    padding: 14px 22px;
    font-size: 12px;
}
#center button:nth-child(1){
    background-color: transparent;
    border: 1px solid rgb(187, 37, 37);
    color: rgb(166, 47, 47);
    border-radius: 10px;
    font-weight: 500;
}
#center button:nth-child(2){
   background-color: rgb(166, 47, 47);
   color: white;
   border: none;
   border-radius: 100px;
}
#sampletext{
    margin-top: 30px;
    font-size: 15px;
}
#samples{
    display: flex;
    margin-top: 20px;
    gap: 20px;
}
.sampale{
    width: 90px;
    height:80px;
    border-radius: 10px;
}
.sampale img{
    width: 100%;
}